celery==5.6.3
dj-database-url==3.1.2
Django==5.2.17
django-cors-headers==4.9.0
django-filter==26.1
django-prometheus==2.5.0
django-storages[s3]==1.14.6
djangorestframework==3.18.1
drf-nested-routers==0.95.3
gunicorn==26.0.0
psycopg2-binary==2.9.13
pypdf==6.14.2
python-dotenv==1.2.2
redis==8.1.0
tenacity==9.1.4
whitenoise==6.12.0
